@media only screen and (max-width: 950px) {
    .title > h3{
        font-size: 40px !important;
        justify-content: center;
        align-items: center;

        
    }
    .details > .side_image{
    
     width: 400px!important;
     object-fit: contain !important;
    
    }
}  

@media only screen and (max-width: 1140px) {
    .details > .side_image{
        width: 400px !important;
        object-fit: contain !important;
      }

      .title > h3{
        font-size: 40px !important;
        margin-right: 50px !important;
    }
    }

    @media only screen and (max-width: 414px) {
       
        .details > .side_image{
            width: 400px !important;
            object-fit: contain;
          }
    
          .title > h3{
            font-size: 28px !important;
            margin-left: 26.5px !important;
          
        }

    }
.line{
    width: 100vw;
    background-color: #303030;
    border: #303030;
    height: 10px;
}

.details{
 display: flex;
 margin-top: 40px ;
 margin-bottom: 40px ;
 justify-content: space-between;
 align-items: center;
 justify-content: center;
 color: #fff;

}

.detail >p{
    font-size: 28px;
    font-weight: lighter;
}
.second--{
    margin-top: 15px;
}

.title > h1{
    font-size: 50px;
    margin-right: 60px;
}

.details > .side_image{
  width: 500px;
  object-fit: contain;
  margin-right: 60px;

}