.FAQ{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.line{
    width: 100vw;
    background-color: #303030;
    border: #303030;
    height: 10px;
}
.Question{
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;

}