.FAQs{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.line{
    width: 100vw;
    background-color: #333333;
    border: #333333;
    height: 10px;
}
.Question{
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  
 
}

.Faq_container{
    height: 80px;
    background-color: #333333;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;  
    margin-left: 330px;  
}
.Faq_container >h3{
    padding-left: 30px;
    font-size: 26px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
 }

 .Faq_container > h3 > .MuiSvgIcon-root{
    font-size: 40px;
    font-weight: lighter;
    margin-left: 520px;
    cursor: pointer;

   
 }