@media only screen and (max-width: 950px) {
    .FAQs >h1{
        font-size: 40px;
        text-align: center;
    }

    .Faq_container >h3{
    padding-left: 10px !important;
    font-size: 20px !important;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    cursor: pointer;


    height: 60px !important;
    background-color: #333333;
    width: 450px !important;
    margin-bottom: 30px;
    /* display: flex; */
    align-items: center;  
    margin-left: 230px !important;
    }

    .Faq_container > .details{
        height: 200px !important;
        background-color: #333333;
        width: 450px !important;
        margin-bottom: 30px;
        margin-top: -20px;
        align-items: center;  
        margin-left: 230px !important;
        font-size: 15px !important;
        font-weight: lighter;
        padding: 26px !important;

        
        /* display: none; */
     }
     .FAQs{
       
        color: #fff;
    }
    .Faq_container{
        display: block;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        align-self: center !important;

    }
}

@media only screen and (max-width: 1140px) {
    .Faq_container >h3{
         
        margin-left: 200px !important;
 }

 .Faq_container > .details{
    
    margin-left: 200px !important;
    
 }
     
}


@media only screen and (max-width: 414px) {
    .Faq_container >h3{
         
        margin-left: 40px !important;
        width: 345px !important;
 }

 .Faq_container > .details{
    
    margin-left: 40px !important;
    width: 345px !important;
    height: 250px !important;
    
 }
   

}

@media only screen and (max-width: 375px) {
    .Faq_container >h3{
         
        margin-left: 28px !important;
        width: 330px !important;
 }


 .Faq_container > .details{
    
    margin-left: 28px !important;
    width: 330px !important;
    height: 250px !important;
    
}
}
.FAQs{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.line{
    width: 100vw;
    background-color: #333333;
    border: #333333;
    height: 10px;
}
.Question{
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  
 
}

.Faq_container{
    display: block;
}
.Faq_container >h3{
    padding-left: 30px;
    font-size: 26px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    cursor: pointer;


    height: 80px;
    background-color: #333333;
    width: 800px;
    margin-bottom: 30px;
    /* display: flex; */
    align-items: center;  
    margin-left: 330px;
    
    /* justify-content: center; */
 }
 

 .Faq_container > h3 > .MuiSvgIcon-root{
    font-size: 40px;
    font-weight: lighter;
    margin-right: 35px;
    cursor: pointer;
 }

 
.Faq_container > .details{
    height: 300px;
    background-color: #333333;
    width: 800px;
    margin-bottom: 30px;
    margin-top: -20px;
    align-items: center;  
    margin-left: 330px;
    font-size: 25px;
    font-weight: lighter;
    padding: 56px;
    /* display: none; */
 }

 /* .Faq_container >h3:hover + .details{
    display: block;
    opacity: 6;
 } */

 .text_field{
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

.text_field > input{
    height: 55px;
    width: 28em;
    font-size: 18px;
}
.text_field > button{
    height: 55px;
    width: 9.5em;
    background-color: #e50914;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    margin-left: -4px;
    border: #e50914;
    cursor: pointer;
    opacity: 1;
    
}

.last{
    padding-top: 40px;
    font-size: 18px;
    font-weight: lighter;
}