@media only screen and (max-width: 950px) {
    .Footer_details{
        margin-left: 40px !important;
        
    }
    .Footer>h5{
        margin-left: 75px !important;
        
    }
    .row_2{
        display: block;
        list-style-type:none;
        padding: 20px;
        margin-left: 15px !important;
     }
    .row_3{
        display: block;
        list-style-type:none;
        padding: 20px;
        margin-left: 15px !important;
     }
    .row_4{
        display: block;
        list-style-type:none;
        padding: 20px;
        margin-left: 15px !important;
     }
}

@media only screen and (max-width: 414px) {
    .Footer_details{
        margin-left: 5px !important;
        font-size: 12px !important;
    }
    .Footer>h5{
       
        margin-left: 10px !important;
        
    }
    .row_2{
       
        padding: 2px !important;
        margin-left: 2px !important;
     }
    .row_3{
       
        padding: 2px !important;
        margin-left: 2px !important;
     }
    .row_4{
       
        padding: 2px !important;
        margin-left: 2px !important;
     }
}


.Footer_details{
    margin-left: 200px;
    color: white;
    display: flex;
    
}

.Footer>h5{
    color: #fff;
    margin-left: 230px;
    margin-top: 80px;
    opacity: 0.5;
    font-size: 18px;
}

.row_1{
   display: block;
   list-style-type:none;
   padding: 20px;
}

.row_1 >li{
    padding: 10px;
    
}
.row_1 >.netflix_gh{
  margin-top: 30px;
}

.row_1 >li > a{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    opacity: 0.5;
}
.row_2{
   display: block;
   list-style-type:none;
   padding: 20px;
   margin-left: 40px;
}

.row_2 >li{
    padding: 10px;
    
}

.row_2 >li > a{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    opacity: 0.5;
}
.row_3{
   display: block;
   list-style-type:none;
   padding: 20px;
   margin-left: 40px;
}

.row_3 >li{
    padding: 10px;
    
}

.row_3 >li > a{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    opacity: 0.5;
}
.row_4{
   display: block;
   list-style-type:none;
   padding: 20px;
   margin-left: 40px;
}

.row_4 >li{
    padding: 10px;
    
}

.row_4 >li > a{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    opacity: 0.5;
}
