.MainHeader{
    object-fit: contain;
    height: 448px;
    border: 0.5px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    
}

.header >img{
    object-fit: contain;
    width: 120px;
    margin: 30px;

}

.header > button{
    background-color: #e50914;
    color: #fff;
    border: #e50914;
    padding: 4px;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 5px;
    width: 90px;
    height: 38px;
    margin: 30px;

    
}

.header{
    margin: 30px;
}

.dim {
    height: 20.4rem;
    background-image: linear-gradient(3deg,
    transparent,
    rgba(0, 0, 0, 0.61),
    rgb(0, 0, 0));
    margin-top: -30px;
}