.MainHeader{
    object-fit: contain;
    height: 650px;
    border: 0.5px solid black;
    overflow-y: hidden !important; 

}


@media only screen and (max-width: 414px) {
   
    .first--{
        font-size: 39px !important;
        font-weight: bolder !important ;
    }
    .some_text_ > .second--{
        font-size: 36px !important;
        font-weight: bolder !important ;
    
    }

    .text_field > .but_start{
       
        width: 150px !important;
        
    }
    }

/* media queries */
@media only screen and (max-width: 950px) {
    .text_field > input{
        width: 20em!important;
        line-break: strict !important;
        margin-right: 5px !important;
       
    }
    .text_field > button{
        width: 8.5em !important;
        font-size: 15px !important ;
        text-align: center;
        align-items: center;

    }
    .text_field{
        width: 100%;
        padding: 30px;
    }
    .text_field > button > .MuiSvgIcon-root{
        font-size: 15px !important;
    }

    .some_text_ >h2{
        margin-top: -12px !important;
        font-size: 50px !important;
        font-weight: bolder;
    }
   
    
  }

  @media only screen and (max-width: 375px) {
    .Faq_container >h3{
         
        margin-left: 28px !important;
        width: 330px !important;
 }
}

 

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

}

.header >img{
    object-fit: contain;
    width: 135px;
    margin: 30px;

}

.header > button{
    background-color: #e50914;
    color: #fff;
    border: #e50914;
    padding: 4px;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin: 30px;
    cursor: pointer;
    opacity: 7;
    transition: transform 100ms ;
}
.header > button:hover{
    transform: scale(1.2);
    opacity: 0.5;
}

/* .header{
    margin: 30px;
} */

/* .dim {
    height: 12.4rem;
    background-image: linear-gradient(3deg,
    transparent,
    rgba(0, 0, 0, 0.61),
    rgb(0, 0, 0));
    margin-top: -30px;
}
*/
.dim-low{
    height: 11rem;
    background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.8),
    rgb(0, 0, 0));
    margin-top: 50px;
    width: 100vw;
} 
.some_text_{
    color: white;
    text-align: center;
    margin-top: 90px;
}
.first--{
    font-size: 55px;
    font-weight: bolder;
}

.some_text_ > h2{
    font-size: 50px;
    font-weight: bolder;


}
.third--{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
}
.fourth--{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 15px;
}

.text_field{
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_field > input{
    height: 55px;
    width: 28em;
    font-size: 18px;
}
.text_field > button{
    height: 55px;
    width: 9.5em;
    background-color: #e50914;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    margin-left: -4px;
    border: #e50914;
    cursor: pointer;
    opacity: 1;
    
}
.text_field > button:hover{
    opacity: 7;
}
.but-start > .MuiSvgIcon-root{
    font-size: 15px;
}

