@media only screen and (max-width: 950px) {
    .title > h1{
        font-size: 40px !important;
        
    }
    .details > .side_image{
    
     width: 400px!important;
     object-fit: contain !important;
    
    }
    
    .details{
        display: block!important;
        align-items: center!important;
        justify-content: center!important;
        text-align: center!important;
    }
    
    .second--{
        font-size: 20px !important;
        font-weight: lighter !important;
        /* margin-left:-100px ; */
    
    }
    .third--{
        font-size: 20px;
        font-weight: lighter;
    }
    }

    @media only screen and (max-width: 414px) {
        .title > .prof{
            font-size: 30px !important;
            margin-left: 20px !important;
        }
        .title > .second--{
            font-size: 18px !important;

        }
    }


.line{
    width: 100vw;
    background-color: #303030;
    border: #303030;
    height: 10px;
}

.details{
 display: flex;
 margin-top: 40px ;
 margin-bottom: 40px ;
 justify-content: space-between;
 align-items: center;
 justify-content: center;
 color: #fff;

}

.detail >p{
    font-size: 28px;
    font-weight: lighter;
}
.second--{
    margin-top: 15px;
}

.title > h1{
    font-size: 50px;
    margin-right: 60px;
}

.details > .side_image{
  width: 500px;
  object-fit: contain;
  margin-right: 60px;

}