@media only screen and (max-width: 950px) {
    .Watch > h1{
        font-size: 40px !important;
       
        margin-right: 10px !important;

        
    }
    .Watch{
        /* width: 100% !important; */
        text-align: center !important;
        padding-left: 40px !important;

    }

    .Watch >p{
        font-size: 20px !important;
        font-weight: lighter !important;
    }
    
}  

@media only screen and (max-width: 414px) {
    .Watch > .title{
        font-size: 30px !important;
        margin-right: 10px !important;
 
    } 

    .Watch{

        padding: 20px !important;
        color: #fff;
    
    }

   .Watch > .second--{
                font-size: 18px !important;

    }
   
}

.line{
    width: 100vw;
    background-color: #303030;
    border: #303030;
    height: 10px;
}

.Watch >h1{
    font-size: 50px;
    margin-right: 60px;
}
.Watch >p{
    font-size: 28px;
    font-weight: lighter;
}

.Watch{
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 70px;
    color: #fff;

}