.app{
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important; 

}

body{
  background: #000;
	color: #999;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important; 

}
